html {
    direction: rtl;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &::selection {
        background-color: #e2c49789 !important
    }
}

body {
    font-size: 16px;
    font-family: Dana;
    font-weight: 200;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;

    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";

    &.body-background {
        background-color: #000;
    }


}

a,
link {
    text-decoration: none;
}

i,
span,
img {
    vertical-align: middle;
}

ul {
    list-style: none;
}