$orang: #FF9F0D;
$oreanglight: #E69707;

.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 20px;

    .right {

        display: flex;
        justify-content: space-between;
        margin-right: 40px;

        .item {
            margin: 20px;
            color: #000;
            font-weight: 300;
            position: relative;


        }

        .item_active {
            margin: 20px;
            color: #000;
            font-weight: 300;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: $orang;
                top: 30px;
                left: 50%;
                border-radius: 50%;


            }
        }
    }

    .left {
        margin-left: 100px;

        .input {
            border: 0;
            border-bottom: 1px solid $oreanglight;
            background-color: #00000000;
            padding: 10px;

            &::-webkit-input-placeholder {
                font-family: dana;
            }

            &:focus {
                border-bottom: 1px solid $oreanglight;
                outline: none;
            }
        }
    }
}